= logout_button
= render 'cheat_menu'

.subtitle_explanation= t('.title')
.explanations_container
  %p
    .mini_title= t(".normal")
    = t(".normal_explanation")
  %p
    .mini_title= t(".god")
    = t(".god_explanation")
  %p
    .mini_title= t(".ruby_geek")
    = t(".ruby_geek_explanation")
= reset_shell_button
= view_db_schema_button

.clear
#shell_container
  #log_container
    #log
      .instructions
        = t("shell.instructions.start")
  #prompt
    irb(main)>
    = text_field_tag :code, "", id: "command_line", placeholder: t(".placeholder")
    = hidden_field_tag :url, shell_update_path