%h2 What is this?
#intro_shell
  #command_input
    %span#line
    %span#cursor
.clear
%h2 Sign in
= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
  %div
    = f.label :email
    = f.email_field :email, :autofocus => true
  %div
    = f.label :password
    = f.password_field :password

  %div= f.submit "Sign in"
= render "devise/shared/links"
