/ decorator_modal
= modal_tag(class: section) do
  = modal_header do
    %h3= t("candidate.title.cats")
    .clear
  = modal_body do
    - candidate.cats.each do |c|
      .half_body{class: (c == candidate.cats.first) && "first"}
        .pic_container
          %h3.pic_title= c.name
          = image_tag c.pictures.first.picture.main.url, class: "img-rounded"
          %br= strong_then_normal t("candidate.breed"), c.breed
          = strong_then_normal t("candidate.current_status"), c.current_status

        %h3 Skills
        %ul
          - c.skills.each do |s|
            %li= strong_then_normal "#{s.level}:", s.name
