/ decorator_modal
= modal_tag do
  = modal_header do
    = modal_image_tag :funny_links
    %h2.title= t("candidate.title.funny_links")
    .clear
  = modal_body do
    %p= t("candidate.funny_explanation")
    %ul
      - candidate.funny_links.each do |f|
        %li= link_to f.name, f.url, target: "_blank"
