/ decorator_modal
= modal_tag(class: section) do
  = modal_header do
    = modal_image_tag :general_information
    %h2.title= candidate.name
    .clear
  = modal_body do
    .body_block
      %h3 Abstract
      %p= candidate.general_information
    .body_block
      %h3 Additional Information
      = decorator.ul_additional_information
