/ decorator_modal
= modal_tag(class: section) do
  = modal_header do
    = modal_image_tag :hobbies
    %h2.title= t("candidate.title.hobbies")
    .clear
  = modal_body do
    %ul
      - candidate.hobbies.each do |h|
        %li= h.name
