/ decorator_modal
= modal_tag do
  = modal_header do
    = modal_image_tag :open_source
    %h2.title= t("candidate.title.open_source")
    .clear
  = modal_body do
    - candidate.open_source_projects.each do |o|
      .body_block
        %h3= o.name
        %p
          = o.description
          %br= link_to o.url, o.url, target: "_blank"
