/ decorator_modal
= modal_tag(class: section) do
  = modal_header do
    = modal_image_tag :work_experience
    %h2.title= t("candidate.title.work_experience")
    .clear
  = modal_body do
    - candidate.experiences.each do |w|
      .body_block
        %h3= w.name
        %p.subtitle= "From #{w.year_from} to #{w.year_to}"
        %p= w.description
        %p
          .subsection_title Main Accomplishments
          = raw decorator.markdown.render(w.key_facts)